/*CSS Stylesheet for the displayed info*/

.place-detail-view {
    position:fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width:100%;
    height:100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    opacity: 0; 
    transition: 0.5s ease; 
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
.place-detail-view.visible {
    opacity: 1; 
}
.error-message{
    text-align: center;
    margin-bottom:50px;
}
.detail-content {
    width: 100%; 
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
    padding: 30px;
    max-height:80% !important;
    box-shadow: 0 0px 8px rgba(0,0,0,0.15); 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;

}

.close-btn {
    position: absolute;
    top: 25px;
    right: 40px;
    cursor: pointer;
    color: black; 
    font-size: 35px;
}

.close-btn:hover{
    background-color: transparent;
    transform: scale(1);
    box-shadow: none;
    color:#00ADB5;
}

.background-image {
    margin-top:20px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.detail-name, .detail-location {
    color:black;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 0px;
    transition: 0.2s;
}
.detail-name:hover{
    color:#00ADB5;
}
.detail-location{
    margin-top:10px;
}

.detail-description {
    color:black;
    text-align: center;
    font-weight: 300;
    font-size:16px;
    padding: 0 20px;
    margin-top: 20px; 
}
