*{
    font-family:"Lexend", sans-serif;
}
html,
body {
    margin: 0;
    padding: 0;

}
.d-block{
    position:relative;
    object-position: middle;
    height:37em;
    object-fit: cover;
    filter:brightness(0.8);
}

.carousel{
    z-index: 0;
}
.carousel-inner {
    position: relative;
}

.text-carousel {
    position: absolute;
    width:100%;
    text-align: center;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
    color: white;
    font-size:46px; 
    font-weight: 600;
    z-index: 2; 
    transition:0.2s;
}

.header{
    position:fixed;
    width:100%;
    display: flex;
    align-items: center;
    padding:15px 40px;
    backdrop-filter: blur(10px);
    z-index:100;
    border-bottom-style: solid;
    border-bottom-width:0.1px;
    transition:0.4s;
    border-bottom-color:rgba(255, 255, 255, 0.1); 
}
.header.scrolled *{
    transition:0.4s;
    color: rgb(35, 35, 35); 
}
.header-left{
    color:white;
    font-size:26px;
    cursor:pointer;
    font-weight: 500;
}
.header-middle{
    display: flex;
    align-items: center;
    gap:60px;
    justify-content: center;
    
}
.header-right{
    display: flex;
    justify-content: end;
    gap:20px;
}
.header-middle>p{
    color:white;
    cursor:pointer;
    margin:0px;
    font-weight: 400;
    font-size:16px;
    position: relative; 
}
.header-right, .header-left, .header-middle{
    flex:1;
    display: flex;
    align-items: center; /
}
.header-middle>p::before{
    content: '';
    position:absolute;
    width:0%;
    left:0;
    bottom:-5px;
    height: 2px;
    background:#00ADB5;
    transition: all .3s;
}
.header-middle>p:hover::before{
    width:100%;
}
.header-right>i{
    color:white;
    padding:0px;
    font-size:30px;
    margin:0px;
    margin-top:1px;
    list-style: none;
    transition: 0.2s;
    cursor: pointer;
}
.header-right>:hover{
    box-shadow:none;
    color:#00ADB5;
    transform:scale(1);
}

.dropdown-content{
    display: flex;
    visibility: hidden;
    opacity:0;
    flex-direction: column;
    position:absolute;
    top:80px;
    z-index:1;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.491);
    border-radius: 10px;
    padding:20px 20px;
    transition:0.3s;
    gap:10px;
}
.show{
    visibility: visible;
    opacity:1;
}
.dropdown-content>a{
    color:white !important;
    cursor: pointer;
    font-size:16px;
    font-weight: 400;
}
.dropdown-content>a>i{
    margin-left:8px;
}
.dropdown-content>a>i:hover{
    background-color: transparent;
    transform: scale(1);
}
.dropdown-content>a:hover{
    color:white;
    text-decoration: none;
}

.i-container{
    margin-top:75px;
    margin-bottom:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.input-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:800px;
    height:85px;
    background-color: transparent;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
    border-radius:100px;
    transition:0.2s;
}
.input-container>input{
    width:100%;
    border-radius:100px;
    border:none;
    font-size:16px;
    background-color: transparent;
}
.input-container>input::placeholder{
    color:rgb(137, 137, 137);
    font-size:18px;

}
.input-container>button{
    margin-right:10px;
    padding:20px 35px;
    border-radius:100px;
    font-size:16px;
    font-weight: 400;
    border:none;
    font-size:19px;
    font-family: lexend;
    background-color: #00ADB5;
    color:white;
    align-items:center;
    justify-content: center;
    transition:0.2s;
    cursor:pointer;
}
.input-container>button:hover{
    padding-left:42px;
    padding-right:42px;
}
.input-container>button:active{
    background-color: #00ADB5;
    border:none;
}
.fa-magnifying-glass{
    margin-left:30px;
    margin-right: 15px;
    font-size:20px;
    color:rgb(69, 69, 69);
}
.fa-magnifying-glass:hover{
    background-color: transparent;
    transform:scale(1);
    box-shadow:none;
}

.carousel-control-prev{
    z-index:3;
}
.carousel-control-next{
    z-index:3;
}
.filter-clicked {
    background-color: #dcdcdc !important; 
}

#menu{
    display: none;
}
.fa-bars{
    color:white;
    padding:0px;
    font-size:30px;
    margin:0px;
    margin-top:1px;
    list-style: none;
    transition: 0.2s;
    cursor: pointer;
}
.fa-bars:hover{
    box-shadow:none;
    color:#00ADB5;
    transform:scale(1);
}

button {
    outline: none !important;
}


@media (max-width: 1100px) {
    .text-carousel {
      font-size:38px;
    }
    .header-middle{
        display: none;
    }
    .input-container {
        width:480px;
        transform:scale(0.9);
    }
    #menu{
        display:block;
    }
}



@media (max-width: 770px) {
    .text-carousel {
    font-size:30px;
    }

}


